.homeHeader {
  background-color: #537188;
  text-align: center;
  padding: 70px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
  color: white;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
}

.btn-branding {
  border: solid;
  border-color: black;
  font-weight: bold;
  margin-top: 30px;
  background-color: #e1d4bb;
}

.btn:hover {
  border: solid;
  border-color: black;
  font-weight: bold;
  margin-top: 30px;
  background-color: #537188;
  color: #e1d4bb;
}

.container {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: larger;
}

.projectHeader {
  font-weight: bold;
  font-size: 36px;
  color: #537188;
}

.col-sm-6 {
  padding: 20px;
}
