.homeHeader {
  background-color: #6a9c89;
  text-align: center;
  padding: 100px;
}

h2 {
  font-size: 36px;
  font-family: font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 24px;
  font-family: font-family: 'Poppins', sans-serif;
}
